.container {
  margin-top: 20px;
  padding-top: 50px;
    display: flex;
    
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    max-height: 100%;
    
  }
  
  .userImage {
    flex: 1;
    
  }
  
  .registrationForm {
    flex: 1;
    border-radius: 20px;
    
  }
  .inputfield{
    border-radius: 20px;
    width: 100%;
    height: 40px;
    border-color: lightblue;
  }
  .buttonfield{
    border-radius: 20px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    font-size: 20px;
    color: green;
    background-color:white;
    border-color: green;
    
    
  }
  .labelfield{
    color: blueviolet;
    font-weight: bold;
    
    font-size: 20px;
  }
  .headerregistration{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
    
  }
  .imgIcon{
    margin-inline: 8px;
  }
  .cardWrapper{
    
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  